body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #000;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: red;
  font-size: 36px;
  font-family: sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #fff;
  width: 120px;
  color: #000;
}

#header button:focus {
  border: 2px solid black;
  background-color: orange;
}
#container {
  width: 900px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: white;
  border-radius: 10px;
  background-color: #247ba0;
}
#weekdays div {
  width: 111px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day:nth-of-type(1n) {
  content: "Zondag";
  color: black;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 14px;
  box-shadow: 0px 0px 3px orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:focus,
.day:hover {
  background-color: #ffa500;
}

.day:focus {
  border: 2px solid black;
}

.day + #currentDay {
  background-color: #fac768;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #000 !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput:focus {
  border: 2px solid black;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}

#cancelButton:focus,
#deleteButton:focus,
#saveButton:focus,
#closeButton:focus {
  border: 2px solid black;
}

.submit-btn {
  display: none;
}

#saveButton,
#closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.sneltoets {
  position: absolute;
  width: 300px;
  top: -100000px;
  color: black;
  background-color: white;
}

.sneltoets:focus {
  top: 0;
  border: 5px solid black;
}

.gedaan {
  margin-bottom: 1em;
}

.ja-gedaan:checked ~ .submit-btn {
  display: block;
}
